html, body, .viewport {
	width: 100%;
	height: 100%;
	margin: 0;
}

body {
	background: linear-gradient(to bottom, #04121d 0%, #002442 100%);
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	overflow: hidden;
}

body, p, span, h1, h2, h3, label {
	color: #ffffff;
}

.game-flex {
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	align-items: center;
}

.game-flex > div {
	width: 100vw;
	display: flex;
}

.player-info {
	margin: 0px !important;
	width: 100%;
	padding: 3vh 0;
	text-align: center;
	color: #85a6bb;
	font-weight: normal;
	font-family: system-ui;
	font-size: 13px;
	text-transform: capitalize;
}

#players > div > div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-self: center;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 0px 20px 20px;
	min-width: 30%;
}

#players > div:after {
	position: absolute;
	content: "";
	top: 20%;
	right: 0;
	border: 0.5px solid #85a6bb;
	height: 80%;
}

#players > div:last-child:after {
	content: none;
}

#commit {
	border: #3593ce;
	padding: 10px 30px;
	border-radius: 10px;
	margin-top: 20px;
	text-transform: capitalize;
	background: linear-gradient(to right, #008fff 0%, #0850f1 100%);
	color: white;
	font-weight: normal;
	height: 40px;
	width: 140px;
	margin-right: 10px;
}

#commit:focus {
	outline: none;
}

.end-button-container {
	text-align: center;
	display: block !important;
	height: 10vh;
}

#players {
	height: 50vh;
}

#game-info {
	height: 5vh !important;
}

.board-flex-container {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	align-self: center;
	justify-content: center;
	height: 20vh;
}

.board-flex-container > div {
	min-height: 18vh;
	max-height: 18vh;
	border: 4px solid transparent;
}

/* TODO: remove */
.player-cards-flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-self: center;
	justify-content: center;
	align-items: center;
}

.player-cards-flex-container > div {
	min-height: 18vh;
	max-height: 18vh;
	min-width: 5vw;
	max-width: 8vw;
}

.card {
	border: none;
	background: none;
	padding: 0px 10px 0px 0px;
	cursor: pointer;
	position: relative;
}

.card:focus {
	outline: none;
}

.card > img {
	/* border: 1px solid #e5e5e5; */
	border-radius: 10px;
	box-shadow: 11px 11px 19px -13px rgb(0, 0, 0);
}

.card > img.BLUE {
	background: #4e9cff;
}

.card > img.GREEN {
	background: #88c750;
}

.card > img.YELLOW {
	background: #f4c764;
}

.card > img.RED {
	background: #ff8269;
}

.card[disabled] {
	opacity: 0.1;
	cursor: not-allowed;
}

#board {
	margin-top: 30px;
}

img {
	border-radius: 10px;
	max-height: 18vh;
	min-height: 10vh;
}

#deck-container {
	position: relative;
	text-align: center;
	color: white;
	cursor: pointer;
	margin-right: 20%;
}

#deck > img, #heap > img {
	/*border: 5px solid transparent;*/
	border-radius: 10px;;
}

#heap > img {
	transition: border 1s ease-in-out, box-shadow 0.6s ease-in-out;
	box-shadow: 0px 0px 33px 1px #ffffff;
}

#heap > img.BLUE {
	/*border: 5px solid #4e9cff;*/
	box-shadow: 0px 0px 33px 2px #4e9cff;

}

#heap > img.GREEN {
	/*border: 5px solid #88c750;*/
	box-shadow: 0px 0px 33px 2px #88c750;

}

#heap > img.YELLOW {
	/*border: 5px solid #f4c764;*/
	box-shadow: 0px 0px 33px 2px #f4c764;

}

#heap > img.RED {
	/*border: 5px solid #ff8269;*/
	box-shadow: 0px 0px 33px 2px #ff8269;
}

#deck-count {
	position: absolute;
	background: #ffffff;
	width: 26px;
	height: 26px;
	font-size: 11px;
	line-height: 25px;
	border-radius: 100px;
	top: 3px;
	left: calc(100% - 2px);
	font-weight: bold;
	color: #041727;
	transform: translate(-50%, -50%);
	font-family: system-ui;
	box-shadow: 0px 1px 20px 2px rgba(0, 0, 0, 0.8);
	z-index: 1000;
}

#heap-container {
	position: relative;
	text-align: center;
	color: white;
}

#heap-count {
	position: absolute;
	background: #ffffff;
	width: 26px;
	height: 26px;
	font-size: 11px;
	line-height: 25px;
	border-radius: 100px;
	top: 3px;
	left: calc(100% - 2px);
	font-weight: bold;
	color: #041727;
	transform: translate(-50%, -50%);
	font-family: system-ui;
	box-shadow: 0px 1px 20px 2px rgba(0, 0, 0, 0.8);
	z-index: 1000;
}

.disabled {
	pointer-events: none;
	opacity: 0.2;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888888;
	width: 80%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s
}

@keyframes pulse {
	from {
		transform: scale3d(1, 1, 1);
	}

	50% {
		transform: scale3d(1.05, 1.05, 1.05);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

#deck.pulse {
	animation-name: pulse;
	animation-iteration-count: infinite;
	animation-duration: 1s;
	animation-fill-mode: both;
}

#game-info, #game-header {
	height: 60px;
	/* background: linear-gradient(to bottom, #04121d 0%, #002442 100%); */
	color: white;
	padding: 0px 20px;
	width: 100%;
	color: #85a6bb;
	font-weight: normal;
	font-family: system-ui;
	font-size: 13px;
	text-transform: capitalize;
	position: absolute;
	bottom: 0;
}

#game-header {
	position: relative;
	font-weight: normal;
	font-family: system-ui;
	text-transform: capitalize;
	text-align: center;
	height: 15vh;
	padding: 0px;
}

#root {
	height: 85vh;
	overflow-y: auto;
}

#game-header span {
	display: inline-block;
	background-image: url(../images/tati.png);
	background-size: 100%;
	width: 410px;
	height: 100%;
	background-position: center;
}

#game-info span {
	margin-right: 30px;
	display: inline-block;
	text-transform: capitalize;
	line-height: 27px;
}

.select-color {
	background: white;
	width: 100px;
	height: 45px;
	color: #3493ce;
	text-transform: capitalize;
	font-size: 11px;
	font-family: monospace;
	text-align: center;
	position: absolute;
	top: -60px;
	left: 10px;
	z-index: 1;
	border-radius: 6px;
	padding: 5px;
	display: block;
}

.card-container {
	position: relative;
}

.card-container > button {
	border: none;
	background: transparent;
}

.card-container > button:focus {
	outline: none;
}

.select-color:after {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #ffffff;
	content: "";
	position: absolute;
	left: 5px;
}

.colors {
	text-align: center;
	padding-top: 4px;
}

.colors > button {
	width: 20px;
	height: 20px;
	display: inline-block;
	border: none;
}

.colors > button.blue {
	background: #4e9cff;
}

.colors > button.green {
	background: #88c750;
}

.colors > button.yellow {
	background: #f4c764;
}

.colors > button.red {
	background: #ff8269;
}

.body-section {
	height: calc(100vh - 153px);
	overflow: hidden;
	display: block;
}

.body-section.finished {
	background-image: url('../images/confetti.gif');
	background-repeat: space;
	background-size: 8%;
}

.statistic-body {
	background-image: url('../images/confetti.gif');
	background-repeat: space;
	background-size: 8%;
}

.statistic-section {
	width: 50vw;
	height: 50vh;
	position: relative;
	margin: 10vh auto;
	background-color: white;
	border-radius: 20px;
	border: 2px solid #04192b;
	padding: 20px;
	color: #04192b;
}

.statistic-section > .title {
	text-align: center;
	display: block;
	font-size: 1.4em;
	font-weight: 600;
	background: -webkit-linear-gradient(#008fff 0%, #0850f1 80%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-transform: uppercase;
	height: 10%;
}

.statistic-section > div > span {
	display: block;
	line-height: 30px;
	color: black;
}

.statistic-section .end-button-container {
	height: 25%;
	padding-top: 10px;
}

.statistic-section .end-button-container > button {
	margin-top: 0px !important;
}

.statistic-section > div {
	height: 65%;
	overflow: hidden;
	overflow-y: auto
}

.statistic-section > div > span > span {
	padding-left: 10px;
}

#restart, #navigate {
	border: #3593ce;
	padding: 10px 30px;
	border-radius: 10px;
	margin-top: 20px;
	background: #3593ce;
	color: white;
	height: 40px;
	width: 140px;
	display: inline-block;
	/*position: absolute;*/
	bottom: 30px;
	left: calc(50% - 70px);
	text-transform: capitalize;
	background: linear-gradient(to right, #008fff 0%, #0850f1 100%);
	font-weight: normal;
	margin-right: 10px;
}

#quite, .action-button {
	border: #3593ce;
	border-radius: 10px;
	text-transform: capitalize;
	background: linear-gradient(to right, #008fff 0%, #0850f1 100%);
	color: white;
	font-weight: normal;
	height: 40px;
	width: 140px;
	display: inline-block;
	margin-right: 10px;
}

.action-button[disabled] {
	opacity: 0.1;
	cursor: not-allowed;
}

#restart:focus, #quite:focus, .action-button:focus, #navigate {
	outline: none;
}

.body-section.finished .statistic-section {
	visibility: visible;
}

th {
	text-transform: capitalize;
	padding-right: 50px;
}

td {
	line-height: 30px;
}

#player-statistics {
	padding-top: 10px;
}

#game {
	height: 80vh;
}

.in-animation {
	animation-name: rollIn;
	animation-duration: 1.5s;
	animation-play-state: paused;
	animation-iteration-count: infinite;
}

.out-animation {
	animation-name: rollOut;
	animation-duration: 1.5s;
	animation-play-state: paused;
	animation-iteration-count: infinite;
}

#deck.start {
	animation-name: rollOut;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: none;
}

#heap.start {
	animation-name: rollIn;
	animation-duration: 1.5s;
	animation-iteration-count: 1;
	animation-fill-mode: none;
}

#deck {
	transition: opacity 2s ease-in-out;
}

.login {
	width: 30%;
	height: 250px;
	background: rgba(255, 255, 255, 1);
	border-radius: 20px;
	margin: 50px auto;
}

.login > div:first-child {
	height: 50px;
	text-align: center;
	line-height: 50px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	background: linear-gradient(to right, #008fff 0%, #0850f1 100%);
	color: white;
	font-weight: 700;
	font-size: 24px;
}

.login > form {
	padding: 50px 30px;
}

.login > form > input {
	width: 100%;
	border-radius: 5px;
	border: 1px solid #e5e5e5;
	height: 30px;
	margin-bottom: 20px;
}

.submit-btn {
	border: #3593ce !important;
	border-radius: 10px !important;
	text-transform: capitalize;
	background: linear-gradient(to right, #008fff 0%, #0850f1 100%);
	color: white;
	font-weight: normal;
	height: 30px !important;
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
}

.submit-btn:focus {
	outline: none;
}

.login > form > input:focus {
	outline: none;
	border: 2px solid #3593ce;
}

.submit-btn.logout {
	padding: 0px 30px;
	float: right;
	margin-right: 50px;
}

.dashboard {
	padding: 0px 50px;
}

.game-table {
	margin-right: 20px;
	min-height: 250px;
	height: auto;
}

.game-table.games {
	width: 50%;
}

.game-table.users {
	width: 20%;
}

.table-container {
	padding: 10px 20px;
	overflow-x: auto;
}

.game-table table {
	width: 100%;
	color: #04192b;

	font-family: 'Montserrat', sans-serif;
	border-collapse: collapse;
}

.game-table table th, .game-table table td {
	border-bottom: 1px solid #dddddd;
	text-align: -webkit-match-parent;
}

.game-table table tr {
	line-height: 30px;
}

.game-table table > tbody tr:hover {
	background: #f5f5f5;
}

.game-table:last-child {
	margin-right: 0px;
}

.add-game {
	padding: 0px 50px;
}

.add-game input {
	height: 30px;
	border-radius: 5px;
	border: 1px solid #e5e5e5;
	padding: 0px 20px;
	margin-right: 10px;
}

.add-game input:focus {
	border: 2px solid #3593ce;
}

.info-msg {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	margin-top: 10px;
	display: inline-block;
}

.board-page.info-msg {
	padding: 0px 40px;
	margin-top: 0px;
}

@keyframes rollIn {
	from {
		opacity: 0;
		transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes rollOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
	}

}

@keyframes jackInTheBox {
	from {
		opacity: 0;
		transform: scale(0.1) rotate(30deg);
		transform-origin: center bottom;
	}

	50% {
		transform: rotate(-10deg);
	}

	70% {
		transform: rotate(3deg);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}

