@keyframes rotating {
	0% {
		transform: rotateY(0deg);
	}
	50% {
		transform: rotateY(180deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}

.base-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.toggle-card-btn {
	width: 90px;
	height: 25px;
	margin: 0 auto;
}

.flipping-card-wrapper {
	margin: 10px;
	border-radius: 2px;
	border: 3px solid #cccccc;
	position: relative;

	transition: 0.6s;
	transform-style: preserve-3d;
	animation: rotating 2s linear infinite;
}

.front-card, .back-card {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.front-card {
	z-index: 2;
	transform: rotateY(0deg);
}

.back-card {
	transform: rotateY(180deg);
}